<script src="../../public/js/fuse.min.js"></script>
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#relatives" aria-controls="relatives" role="tab" data-toggle="tab">Relatives</a></li>
    <li role="presentation"><a href="#books" aria-controls="books" role="tab" data-toggle="tab">Books</a></li>
    <li role="presentation"><a href="#papers" aria-controls="papers" role="tab" data-toggle="tab">Papers</a></li>
  </ul>
  <div class="alert alert-success" role="alert">
  </div>
  <div class="alert alert-danger" role="alert">
  </div>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="profile">
      <h4>Name <small>{{faculty.name}}</small></h4>
      <h4>Type <small>{{faculty.type}}</small></h4>
      <h4>Date of Birth <small>{{faculty.dateOfBirth}}</small></h4>
      <h4>Education <small>{{faculty.education}}</small></h4>
      <h4>Date of Joining <small>{{faculty.dateOfJoin}}</small></h4>
      <h4>Status <small>{{faculty.status}}</small></h4>
      <h4>Comment <small>{{faculty.comment}}</small></h4>
      <h3> Relatives </h3>
      <ul>
        {{#each relations}}
          <li><a href="{{href}}">{{name}}</a></li>
        {{/each}}
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="relatives">
      <div class="row">
        <form class="form-inline col-md-6">
          <div class="form-group">
            <label for="exampleInputName2">Faculty Name</label>
            <input type="text" class="form-control facultyForm" id="exampleInputName2" placeholder="Jane Doe">
          </div>
        </form>
        <form class="form-inline col-md-6">
          <div class="form-group">
            <label for="exampleInputName2">Student Name</label>
            <input type="text" class="form-control studentForm" id="exampleInputName2" placeholder="Jane Doe">
          </div>
        </form>
      </div>
      <div class="row">
        <div id="addRelativeFacultiesTable" class="col-md-6">
          <!-- Faculty table goes here -->
        </div>
        <div id="addRelativeStudentsTable" class="col-md-6">
          <!-- Student table goes here -->
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="books">
      <ul>
        {{#each books}}
        <li><a href="{{href}}"> {{book}}</a></li>
        {{/each}}
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="papers">
      <ul>
        {{#each papers}}
        <li><a href="{{href}}"> {{paper}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
<script src="../../public/js/persons.js"></script>
