<script src="../../public/js/fuse.min.js"></script>
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#relatives" aria-controls="relatives" role="tab" data-toggle="tab">Add Authors</a></li>
  </ul>
  <div class="alert alert-success" role="alert">
  </div>
  <div class="alert alert-danger" role="alert">
  </div>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="profile">
      <h4>Title <small>{{paper.title}}</small></h4>
      <h4>Description <small>{{paper.description}}</small></h4>
      <h4>Date of Publication <small>{{paper.publicationDate}}</small></h4>
      <h4>Isbn <small>{{paper.isbn}}</small></h4>
      <h5>Authors</h5>
      <ul>
        {{#each authors}}
          <li><a href="{{href}}">{{name}}</a></li>
        {{/each}}
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="relatives">
      <div class="row">
        <form class="form-inline col-md-6">
          <div class="form-group">
            <label for="exampleInputName2">Faculty Name</label>
            <input type="text" class="form-control facultyForm" id="exampleInputName2" placeholder="Jane Doe">
          </div>
        </form>
        <form class="form-inline col-md-6">
          <div class="form-group">
            <label for="exampleInputName2">Student Name</label>
            <input type="text" class="form-control studentForm" id="exampleInputName2" placeholder="Jane Doe">
          </div>
        </form>
      </div>
      <div class="row">
        <div id="addRelativeFacultiesTable" class="col-md-6">
          <!-- Faculty table goes here -->
        </div>
        <div id="addRelativeStudentsTable" class="col-md-6">
          <!-- Student table goes here -->
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../../public/js/publications.js"></script>
